* {
    padding: 0;
    margin: 0;
}

.navbar {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 200px;
    padding-top: 20px;
}

.container-nav {
    display: flex;
    gap: 20px;
    list-style: none;
    color: dimgrey;
}

.button {
    display: flex;
    background-color: blue;
    justify-content: center;
    align-items: center;
    color: white;
    height: 30px;
    width: 100px;
    border-radius: 20px;
}

.hero {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.hero-upper {
    margin-left: 110px;
}

.hero-lower {
    margin-top: 80px;

}

.text {
    color: dimgray;
    margin-top: 40px;
    font-size: 25px;
}

.get {
    background-color: blue;
    justify-content: center;
    align-items: center;
    color: white;
    height: 40px;
    width: 140px;
    border-radius: 20px;
}

.free {
    background-color: transparent;
    justify-content: center;
    align-items: center;
    color: white;
    height: 40px;
    width: 140px;
    border-radius: 20px;
    border: 1px solid white;
    border-top-width: 2px;
    margin-left: 10px;
}

.logo_section {
    background-color: #212121;

    padding: 20px;
}

.icon {
    display: flex;
    width: 75%;
    margin: auto;
    gap: 100px;
    padding: 20px;
}

.icon div:nth-child(1) {
    margin-left: 120px;
}

.service {
    width: 85%;
    margin: auto;
    margin-top: 40px;
}

.unique {
    display: flex;
    margin: auto;
    width: 75%;
    gap: 40px;
    margin-top: 80px;



}

.unique div {
    min-width: 35%;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 350px;
    border-radius: 15px;
}

.dollar {
    margin-top: 50px;
    background-color: white;
    border: 1px solid white;
    border-bottom: none;
    border-right: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.unique img {
    width: 30%;
}

.cloud {
    border: 1px solid white;
    border-bottom: none;
    border-right: none;
    width: 20%;
    background-color: #424242;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.lock {

    margin-top: 50px;
    background-color: white;
    border: 1px solid white;
    border-bottom: none;
    border-right: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.dollar-img {
    margin-top: 40px;
}

.text {
    color: dimgray;
    font-size: 22px;
}

.faster {
    font-size: 20px;
    margin-top: 20px;
}

.advance {
    margin-top: 30px;
    width: 65%;

    margin: auto;
    display: flex;
    gap: 40px;

}

.feature {
    display: flex;
    gap: 60px;
    margin-top: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 400px;
    height: 60px;
    border-radius: 30px;
    padding: 10px;
    align-items: center;
    font-size: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-left: 20px;
}

.advance-lower {

    width: 65%;
    margin: auto;
    color: white;
    background-color: black;
    width: 450px;
    border-radius: 20px;
    margin-top: 30px;
}

.number {
    display: flex;
    gap: 15px;
    padding-top: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 380px;
    height: 30px;
    background-color: #424242;
    border-radius: 30px;
    margin: auto;
    margin-top: 20px;
    align-items: center;

}

.add {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none;

}

.circle {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    border: none;
    margin-left: 10px;
}

.arrow{
    width: 65%;
   margin: auto;
    display: flex;
    gap: 80px;


}
.premium{
    width: 65%;
    margin: auto;
    margin-top: 60px;
    display: flex;
    gap: 40px;
    
}

.suitable{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: white;
    color: black;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 60px;
    }
    .regular{
        margin-top: 20px;
        
    }
.month{
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.premium-one{
    margin-top: 40px;
    
}
.benefits{
    display: flex;
    gap:5px;
    margin-top: 15px;
    align-items: center;
    margin-left: 40px;
}
.button-one{
    width:250px ;
    height: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color: rgb(0, 153, 255);
    border: none;
    color: white;
}
.button-two{
    width:250px ;
    height: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color:white;
    border: none;
    color:black;
}

.customer{
    width: 65%;
    margin: auto;
    display: flex;
    gap: 100px;
}
.say{
    margin-top: 40px;
    font-size: 60px;
    text-align: center;

}
.review{
    width: 65%;
    margin: auto;
    display: flex;
    gap: 100px;
    margin-top: 40px;
}
.black{
    background-color: black;
    color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 60%;
    padding-left: 20px;
    border-radius: 20px;
}
.white{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 60%;
    padding-left: 20px;
    border-radius: 20px;
}
.signup{
background-color: black;
color: white;
margin-top: 60px;
}
.signin{
    width: 65%;
    margin: auto;
    font-size: 45px;
    text-align: center;
}
.container{
    width: 65%;
    margin: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color:#212121;
    height: 90px;
    border-radius: 15px;
}
.input{
    width: 200px;
    height: 40px;
    text-align: center;
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 18px;
    margin-right: 10px;
    background-color: #424242;
    
}
.footer{
    margin-top: 80px;
    margin-left: 50px;
}
.company{
    margin-bottom: 40px;
}
