* {
    padding: 0;
    margin: 0;
}

.navbar {
    width: 80%;
    display: flex;
    margin: auto;
    align-items: center;
    height: 60px;
    
    
    
    
}
.bg-image{
    background-image:url('./Assets/Photos/futuristic-bg.png') ;
    color:white;
}


.container-nav {
    display: flex;
    gap: 20px;
    list-style: none;
    color: dimgrey;
    margin-left: 80px;
    
}
.buttons{
    display: flex;
  
    
    color: white;
    margin-left: 550px;
  gap: 6px;


}
.button{
background-color:#f2684b ;
height: 25px;
width: 60px;
text-align: center;
}
.hero {
    display: flex;
    width: 90%;
    gap: 60px;
    margin-top: 40px;
}

.hero-upper {
    margin-left:200px;
    width: 60%
}

.hero-lower {
    margin-top: 80px;
      margin-left: 350px;
}

.text {
    color: dimgray;
    margin-top: 40px;
    
}
.button-get{
    margin-top: 40px;
    margin-bottom: 40px;
    
}
.get{
    width: 100px;
    height: 30px;
    background-color:#f2684b ;
    color: white;
}
.free{
    width: 100px;
    height: 30px;
    color: white;
    background-color:transparent ;
    border: 1px solid white;
}
.icons{
    
    margin-top: 60px;
    margin-right: 60px;
}