* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: white;
}

.navbar {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 200px;
    margin-top: 10px;
}

.container {
    display: flex;
    gap: 20px;
    list-style: none;
}

.down {
    width: 2%;
}

.button_pink {
    display: flex;
    gap: 20px;
    width: 20%;
}

.english {
    display: flex;
}

.button {
    display: flex;

    justify-content: center;
    align-items: center;
}

.btn-pink {
    width: 30%;
    margin-left: 10px;

}

.contact {
    color: white;
    height: 18px;
    position: relative;
    background-color: transparent;
    border: none;
    margin-right: 10px;
}

.hero {
    width: 85vw;
    display: flex;
    margin: 0 auto;

}

.upper_section {
    margin-left: 140px;
    width: 50%;
    margin-top: 60px;
    position: relative;
}

.upper_section .text.transactions {
    font-size: 60px;
    color: white;
    width: 60vw;
}

.pink {
    display: flex;
    font-size: 45px;
    gap: 8px;
    margin-top: 20px;
}

.pink-sec {
    color: #ab47bc;
    margin-left: 8px;
}

.lower_section {
    display: flex;
    margin-top: 40px;
    text-align: center;
    gap: 6px;
}

.active {
    display: flex;
    justify-content: center;
    align-items: center;

}

.front {
    width: 100%;
}


.text {
    font-size: 4rem;
    width: 100%;
    border: 1px solid #212121;
}

.para {
    margin-top: 40px;
    font-size: 20px;
    color: grey;
}

.button_get {
    display: flex;
    margin-top: 40px;

}

.active p {
    margin-top: 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_section {
    background-color: #212121;
    margin-top: 40px;
    padding: 20px;
}

.icon {
    display: flex;
    width: 75%;
    margin: auto;
    gap: 60px;
}

.icon div:nth-child(1) {
    margin-left: 150px;
}

.payment {
    width: 75%;
    margin: auto;
    display: flex;
    gap: 80px;
    margin-top: 40px;

}

.payment_upper {
    font-size: 60px;
    margin-left: 45px;


}

.service {
    display: flex;

}

.payment_lower {
    font-size: 20px;
    color: grey;
    width: 32%;
    text-align: center;
    margin-top: 60px;

}

.unique {
    display: flex;
    margin: auto;
    width: 75%;
    gap: 60px;
    margin-top: 80px;


}

.unique div {
    min-width: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
}

.dollar {

    margin-left: 90px;
    margin-top: 50px;
    background-color: #212121;
    border: 1px solid white;
    border-bottom: none;
    border-right: none;
}

.unique img {
    width: 40%;
}

.cloud {
    border: 1px solid white;
    border-bottom: none;
    border-right: none;
    width: 20%;
    background-color: #424242;
}

.lock {

    margin-top: 50px;
    background-color: #212121;
    border: 1px solid white;
    border-bottom: none;
    border-right: none;
}

.dollar-img {
    margin-top: 40px;
}

.card {
    width: 85%;
    margin: auto;
    padding: 20px;

}

.card-img {
    width: 80%;
}


.intrest {
    font-size: 60px;
    text-align: center;
    margin-top: 40px;
}

.card-choice {
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
    color: #de3ed8;

}

.provide {
    text-align: center;
    color: grey;
    margin-top: 20px;
}

.card-lower {
    margin-left: 200px;
}

.customer {
    width: 75%;
    margin: auto;
    margin-top: 40px;
}

.feature {
    display: flex;
    font-size: 45px;
    text-align: center;
    gap: 8px;
    margin-top: 20px;
    justify-content: center;
    margin-bottom: 40px;

}

.stars {
    width: 65%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 40px;
}

.stars div:nth-child(1) {
    margin-left: 100px;
    background-color: #424242;
    padding: 10px;
    border: 1px solid white;
    border-bottom: none;
    border-right: none;
}

.name {
    margin-top: 40px;

}

.stars div {
    background-color: #212121;
    padding: 10px;

}

.paragraph {
    margin-top: 20px;
}


.farji-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.farji-card .dot {
    width: 10px;
    height: 10px;
    background-color: #212121;
    border-radius: 50%;
    margin: 10px;
}

.dot.active {
    background-color: #de3ed8;
    border-radius: 12px;
    width: 30px;
}


.multi-background {
    width: 80vw;
    height: 50vh;

    margin: 0 auto;
   background-image: url("./Photos/Rectangle\ 6773.png" )top left url("./Photos/Rectangle\ 6774.png") top right;
    background-position: center;
    
   
    
  
    
margin-bottom: 100px;

}